/* Defining main selectors */
:root {
  --header-footer-clr: #0D0D0D;
  --body-clr: #fff;
  --header-footer-font-clr: #F7D008;
  --main-font-clr: #000000;

  --ff-primary: "Roboto", sans-serif;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

/* Setting my margins to 0 */
body,
h1,
h2,
h3,
p {
margin: 0;
}

#main {
display: flex;
flex-direction: column;
min-height: 100vh;
}

/* Header*/
header {
background-color: var(--header-footer-clr);
padding: 1.25em;
}

#title {
font-family: var(--ff-primary);
color: var(--header-footer-font-clr);
}

/* Main section*/
.container {
flex: 1;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 1.5rem;
padding: 1.5rem;
}

body {
background-color: var(--body-clr);
font-size: calc(0.625vmin + 0.825rem);
width: auto;
margin: auto;
}

#img-div {
width: 100%;
max-width: 480px;
margin: 0;
}

#image {
width: 100%;
height: auto;
object-fit: cover;
}

#img-caption {
font-family: var(--ff-primary);
}

#tribute-info {
font-family: var(--ff-primary);
text-align: left;
line-height: 1.6;
flex-grow: 1;
min-width: 7ch;
max-width: 60ch;
}

figcaption {
padding-top: 0.5rem;
}

p:not(:first-child) {
margin-top: 1.15rem;
}

/* Footer*/
footer {
background-color: var(--header-footer-clr);
padding: 1.25em;
}

footer {
font-family: var(--ff-primary);
color: #fff;
}

#tribute-link {
color: var(--header-footer-font-clr);
}

/* Others*/
.text-center {
text-align: center;
}

/* Mobile Version
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  #img-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
  padding-top: 0.1rem;
  }

  #tribute-info {
    padding-left: 1rem;
    padding-top: 0.1rem;
  }
}

/* Tablet Version 
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  #img-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem;
    padding-top: 0.1rem;
    }
}